@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Styles généraux pour le corps */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* Styles pour la barre de navigation */
nav {
    background-color: blue;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: black;
}

/* Styles pour les sections */
section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: whitesmoke;
}

/* Styles pour le footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: blue;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Styles pour les iframes */
iframe {
    display: block;
    margin: 20px auto;
    border: none;
}

/* Style pour la section de contact */
.contact-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.contact-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.contact-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-section input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-section input[type="submit"]:hover {
    background-color: blue;
}

